# SourceControlGenerator #
##########################
SourceControlGenerator.json

# Levels
######################
Mods/S7_Config_de8f15f2-65a2-4ee4-a25f-7a7ab0305a58/Levels/*
Mods/S7_Config_de8f15f2-65a2-4ee4-a25f-7a7ab0305a58/Globals/*
Editor/Mods/S7_Config_de8f15f2-65a2-4ee4-a25f-7a7ab0305a58/Levels/*

# Story files        #
######################
*.div
*.raw
story_orphanqueries_ignore.txt
Mods/S7_Config_de8f15f2-65a2-4ee4-a25f-7a7ab0305a58/Story/Dialogs/Autosave/*
Mods/S7_Config_de8f15f2-65a2-4ee4-a25f-7a7ab0305a58/Story/Dialogs/Recovered/*

# Asset Folders      #
######################
Public/S7_Config_de8f15f2-65a2-4ee4-a25f-7a7ab0305a58/Assets/*
#Public/S7_Config_de8f15f2-65a2-4ee4-a25f-7a7ab0305a58/GUI/*

# Editor files       #
######################
RootTemplateSelectorConfig_*
ResourceSelectorConfig_*
StatsEditorConfig.xml
EffectEditorConfig.xml
DockPanel.config
EditorBrowserMetadata_*
EditorBrowserMetadata.xml
Autosave/*
Recovered/*
ReConHistory.txt
story.debugInfo

# Assets             #
######################
*.gr2
*.dae
*.swf
*.bullet
*.dds
*.tga
# *.png
*.ttf
*.lsb
*.lsf
*.lsfx
*.lsefx
#*.lsx
*.lsmg

# Logs               #
######################
*.log
*.ailog
log.txt
errors.txt
dialoglog.txt
personallog.txt

# Binary Files       #
######################
*.dat
*.data
*.bik
*.bnk
*.bshd
*.cur
*.fnt
*.iggy
*.iggytex
*.osi
*.patch
*.tmpl

# Dump files         #
######################
*.stackdump
*.dmp

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# VS Code #
############
launch.json

# OS generated files #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.lnk

#    #######################
#        HUNTER-GHOST-27
#    #######################

.markdownlint.json
*.code-workspace